terraform/environments/dev/.terraform
terraform/environments/dev/.terraform.lock.hcl
terraform/environments/prod/.terraform
terraform/environments/prod/.terraform.lock.hcl
node_modules
.terraform
git-crypt.exe
.keys
